div.thick {
    font-weight: bold;    
}
.space{
    height: 600px;
}
.header{
    background-color: black;
    color: white;
}
.footer{
    background-color: black;
    color: white;

}
.h1{
    max-width: 100%;
}
#microsoft-logo{
    max-width: 50%;
    width: 13%;
    margin:1%; 

}
.avatar-section{
    margin: 1%;
    float: right;

}
.img {
    max-width: 100%;
}
#avatar{
    max-width: 40%;
    border-radius: 50%;
    margin: 1%;
}