div.thick {
    font-weight: bold;    
}
.space{
    height: 600px;
}
.header{
    background-color: black;
    color: white;
}
.footer{
    background-color: black;
    color: white;

}
#microsoft-logo{
    width: 13%;
    margin:1%; 

}
.avatar-section{
    margin: 1%;
    float: right;

}
#avatar{
    border-radius: 50%;
    width:40%;
    margin: 1%;
}