
.root{
    font-family: 'Merriweather', serif;
}


.footer{
    background-color:#f2f2f2;
    color: #000;
    font-size: 10px;
}


@media screen {


 .c-logo {
    padding: 13px 20px 14px 12px;
    width: 137px;
    height: 96%;
    margin-top: 1px;
    margin-left: -12px;
    float: left;
    }
}


.avatar_div{
    float: right;
    padding:6px;
}
.optionsPanel{
    float: right;
}

#avatar{
    width: 36px;
    height: 36px;
}
.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
}
